@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #ef233c;
    --background-blur-primary: #ef233b67;
    --background-blur_secundary: #ef233b18;
}
html{
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}
body{
    counter-reset: section 0;
}
.container_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    transition: .3s ease;
    z-index: 1000;
    backdrop-filter: blur(10px);
}
.desactivar{
    transform: translateY(-100%);
}
.container_logo_page{
    width: 50px;
}
.container_logo_page img{
    width: 100%;
}
/* css de la navegación de la página */
.navegation_header{
    display: flex;
    align-items: center;
}
.navegation_header ol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navegation_header ol li{
    margin: 0 10px;
    counter-increment: item 1;
}
.navegation_header ol li a{
    transition: 0.3s ease;
    color: black;
    text-decoration: none;
}
.navegation_header ol li a::before{
    content: "0" counter(item) ".";
    color: var(--color-primary);
}
.navegation_header ol li:hover a{
    color: var(--color-primary);
}
.button_view_cv_information{
    padding: 10px;
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1rem;
    margin: 0 10px;
}
.button_view_cv_information:hover{
    background: #ef233b28;
}
/* css de las partes laterales */
.container_sides_info{
    position: fixed;
    bottom: 0;
    padding: 0 50px;
}
.side_der{
    right: 0;
}
.side_der a{
    writing-mode: vertical-rl;
    color: black;
    text-decoration: none;
    letter-spacing: 0.1em;  
    transition: .3s ease;
    line-height: 18px;
}
.sides_info_email{
    transition: .3s ease;
}
.sides_info_email:hover a{
    color: var(--color-primary);
}
.sides_info_email:hover{
    transform: translateY(-5px);
}
.sides_info_email::after{
    content: "";
    display: block;
    width: 2px;
    height: 100px;
    margin: 0px auto;
    background-color: var(--color-primary);
}
/* izquierda */
.side_izq{
    left: 0;
}
.container_sides_info ul{
    list-style: none;
}
.container_sides_info ul::after{
    content: "";
    display: block;
    width: 2px;
    height: 100px;
    margin: 0px auto;
    background-color: var(--color-primary);
}
.container_sides_info ul li{
    margin: 10px 0;
    transition: .3s ease;
}
.container_sides_info ul li a{
    color: black;
    transition: .3s ease;
}
.container_sides_info ul li:hover a{
    color: var(--color-primary);
}
.container_sides_info ul li:hover{
    transform: translateY(-5px);
}
/* css del main de la página */
.container_main{
    padding: 0 15%;
}
/* css de la parte de PRESENTACIÓN */
.container_information_presentation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.text_presentation{
    color: var(--color-primary);
    padding-bottom: 10px;
}
.text_name_presentation{
    font-size: 4.5rem;
    font-weight: 700;
}
.text_description_presentation{
    max-width: 60%;
    padding: 10px 0;
}
.text_description_presentation a{
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
}
/* css de las secciones */
.title_information_presentation{
    padding: 10px 0;
}
.title_information_presentation::before{
    counter-increment: section 1;
    content: "0" counter(section) ". ";
    color: var(--color-primary);
    font-size: 1.2rem;
}
.title_information_presentation::after{
    content: "";
    display: inline-block;
    position: relative;
    bottom: 7px;
    left: 20px;
    width: 300px;
    height: 1px;
    background-color: var(--color-primary);
}
.information_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#acercaDe .information_section{
    align-items: flex-start;
    flex-wrap: nowrap;
    text-align: left;
}
.text_information_section{
    padding: 10px;
}
.text_information_section p{
    margin-bottom: 10px;
}
.text_information_section ul{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}
.text_information_section ul li::before{
    content: "▹";
    color: var(--color-primary);
    font-size: 20px;
}
.image_information_section{
    width: 220px;
    min-width: 220px;
    height: 220px;
    position: relative;
    margin-top: 10px;
}
.image_information_section img{
    width: 100%;
    border-radius: 5px;
}
.image_information_section::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    top: 0;
    left: 0;
    background-color: var(--background-blur-primary); 
    transition: .3s ease-in-out;
}

.image_information_section::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    top: 10px;
    left: 10px;
    z-index: -1;
    transition: .3s ease-in-out;
}
.image_information_section:hover::after{
    top: 7px;
    left: 7px;
    background-color: var(--background-blur-primary); 
}
.image_information_section:hover::before{
    background-color: transparent;
}
/* css del de los proyectos personales */
#trabajos .title_information_presentation{
    padding-top: 50px;
}
.proyects_information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_proyect_info{
    display: flex;
    width: 100%;
    margin: 50px 0;
}
.proyect_image{
    min-width: 60%;
    max-width: 630px;
    max-height: 310px;
    height: max-content;
    position: relative;
    z-index: -1;
    overflow: hidden;
    border-radius: 5px;
}
.proyect_image img{
    width: 100%;
}
.proyect_image::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    top: 0;
    left: 0;
    background-color: var(--background-blur-primary); 
    transition: .3s ease-in-out;
}
.container_proyect_info:hover .proyect_image::before{
    background-color: transparent;
}
.text_proyect_information{
    padding-top: 10px;
    text-align: right;
    position: relative;
}
.text_proyect_information > p{
    color: var(--color-primary);
    letter-spacing: 0.1em;
}
.title_proyect_info{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.container-description_proyect_text{
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-primary);
    transition: .3s ease;
}
.container_proyect_info:hover .container-description_proyect_text{
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}
.list_tecnology_uset{
    list-style: none;
    display: flex;
    justify-content: right;
    padding-top: 10px;
}
.list_tecnology_uset li{
    padding: 0 0 10px 10px;
    letter-spacing: 0.1em;
}
.container_proyect_links a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
.container_proyect_links a svg{
    width: 20px;
    height: 20px;
    transition: .3s ease-in-out;
}
.container_proyect_links a:hover svg{
    color: var(--color-primary);
}
.container_proyect_info:nth-child(even) .proyect_image{
    order: 1;
}
.container_proyect_info:nth-child(even) .text_proyect_information{
    left: 70px;
}
.container_proyect_info:nth-child(odd) .proyect_image{
    left: 70px;
}
.container_proyect_info:nth-child(even) .text_proyect_information{
    text-align: left;
}
.container_proyect_info:nth-child(even) .list_tecnology_uset{
    justify-content: left;
}
/* css de las cards container */
.container_add_proyects_information{
    width: 100%;
    padding-top: 50px;
}
.add_title_proyects{
    text-align: center;
    padding-bottom: 50px;
}
.add_title_proyects a{
    text-decoration: none;
    color: var(--color-primary);
}
.add_title_proyects a:hover{
    text-decoration: underline;
}
.add_container_proyects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.container_card_add_proyect{
    width: 300px;
    max-width: 300px;
    height: 310px;
    padding: 20px;
    border-radius: 5px;
    transition: .3s ease;
    border: 1px solid var(--color-primary);
    margin: 5px;
    position: relative;
}
.add_proyect_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.folder svg{
    width: 50px;
    height: 50px;
    color: var(--color-primary);
}
.add_proyect_title{
    padding: 15px 0 20px 0;
}
.add_proyect_title > a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
    text-transform: capitalize;
}
.container_card_add_proyect:hover > .add_proyect_title > a{
    color: var(--color-primary);
}
.container_card_add_proyect:hover{
    transform: translateY(-5px);
    background-color: var(--background-blur_secundary);
}
.container_card_add_proyect .list_tecnology_uset{
    text-transform: uppercase;
    justify-content: left;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.container_card_add_proyect .list_tecnology_uset li{
    font-size: .7rem;
    padding: 10px 10px 0 0 ;
}
#contactos .text_information_section{
    text-align: center;
}
.gif_animado_contactos{
    width: 70%;
    max-width: 300px;
}